$font-stack: "Helvetica"
$text-color: white
$text-color-secondary: white
$body-bg-color: black
$bg-color: #6823d8
$bg-color-secondary: black
$container-border-radius: 10px
$card-border-radius: 10px
$gradient: linear-gradient(90deg, #ff0404 0%, #ff6969 100%)
